* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Helvetica Neue", sans-serif;
  margin: 30px 0;
  padding: 0 15px;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.03rem;
}

section {
  /* max-width: 1200px; */
  margin: 0 auto;
}
section div {
  max-width: 1140px;
  margin: 0 auto;
}
h1 {
  position: relative;
  /* font-weight: 100; */
  font-size: 18px;
  font-size: clamp(2.3rem, 1vw, 1rem);
  margin: 0;
  /* padding-left: 36px; */
}

h1 span {
  /* border: 1px solid lightblue; */
  padding: 5px 10px;
  margin: 0 1px;
  display: inline-block;
  background-color: coral;
  color: #ffffff;
  font-weight: 400;
  border-radius: 5px;
}
.bg-yellow {
  background-color: #eec13b;
}
.bg-blue {
  background-color: #71b5f8;
}
.bg-orange {
  background-color: #ffa042;
}
h2 {
  position: relative;
  font-size: 14px;

  margin-bottom: 40px;
  line-height: 1;
  /* padding-left: 20px; */
  display: flex;
}
h2 span {
  font-weight: 400;
}
h3 {
  /* margin-top: 40px; */
  font-size: 16px;
  font-size: clamp(1.5rem, 1vw, 1rem);
  padding: 10px 0 0 0;
  width: 100%;
  border-top: 1px lightblue solid;
}
h4 {
  font-size: 16px;

  padding: 0 0 0 10px;
  margin: 0;
  width: 100%;
}
p {
  font-size: clamp(1.5rem, 1vw, 1rem);
  color: #333000;
  font-weight: 200;
  margin: 10px 0;
  /* font-family: Arial, Helvetica, sans-serif; */
}
hr {
  background-color: lightpink;
  border: none;
  height: 1px;
}

dt a {
  font-weight: 600;
}
pre {
  /* overflow-x: scroll; */
  background-color: #232526;
  border-radius: 5px;
  font-size: 11px;
  padding: 1em;
  /* color: #abb2bf; */
  color: #ddd;

  background: #282c34;

  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.pink {
  color: #ca8899;
}
.yellow {
  color: #fbd74b;
}
.green {
  color: #8fb286;
}
.red {
  color: #de7067;
}
.lime {
  color: #a6c413;
}
.h-el {
  color: #e06c75;
}
.h-attr {
  color: #d19a66;
}
.h-string {
  color: #98c379;
}
.hjs-new {
  color: #9fae62;
  color: #f24b3c;
}
.hjs-var {
  color: #e97f4d;
}
.hjs-comment {
  color: #88786a;
}
div {
  padding: 10px 5px;
}

.download {
  position: relative;
  font-size: 14px;
  margin-bottom: 40px;
  padding-left: 20px;
  display: flex;
}

a {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #333000;
}
.flex {
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 100%;
  align-items: flex-end;
}
.flex p {
  padding: 0;
  margin: 0;
}
.flex a {
  margin: 0;
}

@media (min-width: 768px) {
  div {
    padding: 10px 30px;
  }
  pre {
    font-size: clamp(1rem, 1vw, 1.5rem);
    font-weight: 400;
  }
}
.underline {
  border-bottom: 1px lightblue solid;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

section {
  display: flex;
  flex-direction: column-reverse;
}

section div {
  width: 100%;
}
section div:first-of-type {
  overflow: hidden;
}

@media (min-width: 925px) {
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  section div {
    flex: 1;
    width: 50%;
  }
  section div:first-of-type {
    flex: 1;
  }
}

a.comment-link {
  color: #88786a;
  text-decoration: underline;
}
