* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    color: rgba(0,0,0,0.87);
    font-family: 'Red Hat Text', sans-serif;
    margin: 30px 0;
  }
  section{
    max-width: 1200px;
    margin: 0 auto;
  }
  section div {
    max-width: 1140px;
    margin: 0 auto;
  }
  h1 {
    position: relative;
    font-weight: 100;
    font-size: 30px;
    margin:0;
    /* padding-left: 36px; */
  }

  h1 span {
    /* border: 1px solid lightblue; */
    padding: 5px 10px;
    margin: 0 1px;
    display: inline-block;
    background-color: coral;
    color: #ffffff;
  }
  h2 {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    padding-left: 20px;
  }
  h2::before {
      content: "";
      height: 16px;
      width:16px;
      position: absolute;
      left: 0;
      top: 3px;
      vertical-align: middle;
      background-position: center center;
      display: inline-block;
      background-size: contain;
      vertical-align: middle;
      background-position: center center;
      display: inline-block;
      background-repeat: no-repeat;
      /* background-image: url(https://jsa.homerocavazos.com/_imgs/github-logo.svg); */
      background-image: url(https://jsa.homerocavazos.com/_imgs/fullMonkey-bw.svg);

    }
  h3 {
    font-size: 16px;
    font-weight: 600;
    padding-left: 30px;
  }
  p {
    font-size: 14px;
    color: #333000;
    font-weight: 400;
    margin:10px 0;
  }
  hr {
    background-color: lightpink;
    border:none;
    height: 1px;
  }
  dl, dt, dd {
    font-family: 'Red Hat Text', sans-serif;
  }
  dt {
    font-weight: 700;
  }
  pre {
    padding: 10px;
    background-color: #d3d3d326;
    border-radius: 10px;
  }
  div {
    padding: 10px 30px;
  }
  div span {

    font-weight: bold;

  }
  .download {
    position: relative;
    font-size: 14px;
    margin-bottom: 40px;
    padding-left: 20px;
  }
  .download::before {
      content: "";
      height: 16px;
      width:16px;
      position: absolute;
      left: 0;
      top: 1px;
      vertical-align: middle;
      background-position: center center;
      display: inline-block;
      background-size: contain;
      vertical-align: middle;
      background-position: center center;
      display: inline-block;
      background-repeat: no-repeat;
      background-image: url(https://jsa.homerocavazos.com/_imgs/github-logo.svg);
  }
  a {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color:#333000;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    padding:0;
    max-width: 100%;
  }
  .flex p {
    padding:0;
    margin:0;
  }
  .flex a {
    margin:0;
  }